body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DFA8AC;
}

main {
    background-color: #F2D7D7;
}

.imagem {
    margin: 2rem 15% 0 15%;
}

.campo-formulario {
    width: 320px;
    height: 294px;
    margin: 0 6%;
    border-radius: 32px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
}

.formulario__campo {
    display: flex;
    align-self: center;
    width: 130px;
    margin-bottom: 22px;
    justify-content: center;
    flex-direction: column;
}

.form__titulo {
    font-size: 18px;
    text-align: center;
    padding-bottom: 8px;
    color: #C74375;
}

.form__input {
    height: 22px;
    border: none;
    border-radius: 10px;
    padding-left: 8px;
}

.form__botao {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 79px;
    height: 19px;
    background-color: #C74375;
    border: none;
    border-radius: 4px;
}

.form__botao:active {
    background-color: #c743769a;
}

.form__link {
    display: flex;
    justify-content: center;
    align-self: center;
    text-decoration: none;
    color: #FFFF;
}
